@model IEnumerable<DadosDoAmigo>

<div class="jumbotron">
  <h1 class="display-3">Olá, xxxx!</h1>
  <p class="lead">Nesta página poderá adicionar os amigos!</p>
  <hr class="my-4">
    <a asp-action="Index" asp-controller="Principal" class="btn btn-success btn-lg">Voltar</a> 
    <div class="card text-white bg-primary mb-3">
        <div class="card-header">Amigos não adicionados</div>
        <div class="card-body">
            <h4 class="card-title">Quais são seus amigos?</h4>
             <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Adicionar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var row in Model) {
                    <tr scope="row">
                        <td>@row.Nome
                        </td>
                        <td>
                        <form asp-action="Index" asp-controller="Amigos" method="POST" asp-route-id="@row.AmigoId">
                            <button type="submit" class="btn btn-sucess btn-block">Adicionar</button>
                        </form>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
