@model CredenciaisDoUsuario
@{
    ViewData["Title"] = "Gerenciador de Emprestimo de Jogos";
}
<br/>
<div class="jumbotron">
  @if(!string.IsNullOrEmpty(TempData["Succeso"] as String))
  {
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Parabéns!</strong> Agora você poderá se logar no sistema com seu e-mail e senha.
    </div>
  }
  <h1 class="display-3">Olá, gamer!</h1>
  <p class="lead">Um Gerenciador de  Emprestimo de Jogos para nossos desenvolvedores gamers da S2it!</p>
  <hr class="my-4">
  <p>Ainda não se cadastrou?</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" asp-controller="Cadastro" asp-action="Index" role="button">Inscreva-se</a>
  </p>
  <hr class="my-4">
  <p>Já sou cadastrado!</p>
  <p class="lead">
    <form asp-action="Login" asp-controller="Home" method="POST">
       <div class="form-group">
      <label asp-for="Email"></label>
        <input type="email" class="form-control" asp-for="Email"/>
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
       <div class="form-group">
      <label asp-for="Senha"></label>
        <input type="password" class="form-control" asp-for="Senha"/>
        <span asp-validation-for="Senha" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-success btn-lg">Entrar</button>
    </form>
  </p>
</div>