@{
    ViewData["Title"] = "Gerenciador de Emprestimo de Jogos";
}
<br/>
<div class="jumbotron">
  <h1 class="display-3">Olá, gamer!</h1>
  <p class="lead">Um Gerencioador de  Emprestimo de Jogos para nossos desenvolvedores gamers da S2it!</p>
  <hr class="my-4">
  <p>Ainda não se cadastrou?</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscreva-se</a>
  </p>
</div>